<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Copyright Alerts Database Reset Building Block</display-name>
  
  <!-- UI -->
	<!-- System Config -->
	<servlet>
		<servlet-name>UBCLibraryServlet</servlet-name>
		<servlet-class>ca.ubc.ctlt.ubclibrary.UBCLibraryServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UBCLibrarySigServlet</servlet-name>
		<servlet-class>ca.ubc.ctlt.ubclibrary.UBCLibrarySigServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UBCLibraryServlet</servlet-name>
		<url-pattern>/setting</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UBCLibrarySigServlet</servlet-name>
		<url-pattern>/signature</url-pattern>
	</servlet-mapping>
</web-app>